main {
  background: url(../componentes/img/patter-bg-light2.jpg) !important;
  background-repeat: repeat !important;
  background-size: auto !important;
  text-align: justify;
}

[data-bs-theme="dark"] main {
  background: url(../componentes/img/patter-bg-dark3.png) !important;
  background-repeat: repeat !important;

}
/*//////////////////////////////*/
.documentacao{
  gap: 50px;
  flex: 1 1 500;
  text-align: justify;
}
h1{
  padding-bottom: 10px;
}

p{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 17px;
    padding: 10px;
    line-height: 2rem;
    z-index: 99;
  
}
/* .documentacao{
  border-radius: 7px;
    background-color: #ffffffe5;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} */

.documentacao p{
  color: #000;
}

[data-bs-theme="dark"] .documentacao p{
  color: #ffffff;

}

