
/*//////////////////////////////*/

.cardBox{
  display: flex;
  border-collapse:separate;
  min-width: 250px;
  height: 350px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  
}
.cardBox img{
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    border: none;

    
}
.cardForm{
  flex: 1 1 350px;
  min-width: 280px;
}

.cardForm :hover{
  transition: 0.2s ease;
  border: 1px solid #3d3d3d;
  box-shadow: 0px 0px 6px 2px #3d3d3d;

}

[data-bs-theme="dark"] .cardForm :hover{
  transition: 0.2s ease;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 15px 5px #ffffff;
  
}
.nomeDev{
  border: none !important; 
  filter: drop-shadow(0 0mm 0mm rgba(0, 0, 0, 0))!important;
  background-color: transparent!important;
  border: none!important;
  box-shadow: none!important;
}
.profissao{
  border: none !important; 
  filter: drop-shadow(0 0mm 0mm rgba(0, 0, 0, 0))!important;
  background-color: transparent!important;
  border: none!important;
  box-shadow: none!important;
}

.blur-text {
  color: #000000;
  text-shadow: 0px 0px 10px #FFFFFF;
  filter: drop-shadow(0 0mm 1mm rgba(255, 255, 255, 0.712));
}

[data-bs-theme="dark"] .blur-text{
  color: #ffffff;
  text-shadow: 0px 0px 6px #000000;
  filter: drop-shadow(0 0mm 1mm rgb(0, 0, 0));
  
}
