
main {
  background: url(../componentes/img/patter-bg-light2.svg) !important;
  background-repeat: repeat !important;
  background-size: auto !important;
  text-align: justify;
}

[data-bs-theme="dark"] main {
  background: url(../componentes/img/DarkBg-patter.svg) !important;
  background-repeat: repeat !important;

}

/*//////////////////////*/

.col{
max-width: 860px;
}
h1{
  letter-spacing: 0.05em;
}