
/*//////////////////////////////*/
main {
  background: url(../componentes/img/patter-bg-light2.svg) !important;
  background-repeat: repeat !important;
  background-size: auto !important;
  text-align: justify;
}

[data-bs-theme="dark"] main {
  background: url(../componentes/img/DarkBg-patter.svg) !important;
  background-repeat: repeat !important;
 
}
.cardBox{
  display: flex;
  min-width: 250px;
  height: 350px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  transition: .6s;
}
.cardBox img{
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    border: none;
    
}
.cardForm{
  min-width: 250px;
}
.cardForm :hover{
  border: 3px solid #000000; 
}

[data-bs-theme="dark"] .cardForm :hover{
  border: 3px solid #fff; 
}

.nossaMissao{
  flex-direction: row;
  padding: 0px;
}
.nossaMissao img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
 
}
.nossaHistoria img{
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

